@import url('https://fonts.googleapis.com/css?family=Montserrat:400,600');

body {
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    color: #fff;
    padding: 0;
}

.header {
    height: 70px;
    margin-bottom: 20px;
    margin-top: 0px;
    padding-left: 10px;
    padding-top: 5px;
    background-color:  #6A8FA9;
}

.header h1 {
    font-size: 20px;
    margin-top: 0;
}


.circle
{
    width:60px;
    height:60px;
    border-radius:35px;
    font-size:14px;
    color:#000;
    line-height: 25px;
    text-align:center;
    background:#6A8FA9
}

.circle-main {
    padding-right: 5px;
}

.main-container-second {
    border: 2px solid white;
    border-spacing: 0;
    background: #1C384C;
}



.first-column {
    width: 154px;
    margin-top: 10px;
}
.fc-row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-left: 5px;
    margin-bottom: 10px;
    padding-bottom: 10px;
    height: 103px;
}

.date {
    width: 50px;
    font-size: 12px;
}

.second-column {
    width: 650px;
    font-size: 12px;
}

.sc-row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding-bottom: 10px;
    height: 103px;
    margin-bottom: 5px;
}

.basic-container {
    display: flex;
}

.main-container {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    align-content: center; 
    justify-content: center; 
   
}

.main-container-second {
    width: 800px;
    height: 600px;
    overflow-y: auto;
    overflow-x: hidden;

    
}

.comment {
    display: inline-block;
    background-color: #304A5C;
}



#parent {
    position: relative;
}

#child {
    position: absolute;
    top: 0px;
  right: 15px;
  font-size: 10px;
}








/*
.main-container {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    align-content: center; 
    justify-content: center; 
   
}


.main-container-second {
    border: 2px solid white;
    border-spacing: 0;
    background: #1C384C;
}


.main-container-second {
    width: 800px;
    height: 600px;
    
}


.exit {
    margin-top: -1.3em;
    margin-bottom: 1em;
    text-align: right;
    padding: 0 1.4em;
}

.exit img {
    margin-top: -1.3em;
    margin-bottom: 1em;
    text-align: right;
    padding: 0 1.4em;
    width: 15px;
    cursor: pointer;
}


.circle
{
    width:70px;
    height:70px;
    border-radius:35px;
    font-size:14px;
    color:#000;
    line-height: 25px;
    text-align:center;
    background:#6A8FA9
}

.header {
    height: 70px;
    padding: 10px;
    margin-bottom: 10px;
}

.date {
    align-content: center;
}

.circle-main {
    height: 100px;
    width: 75px;
}

/*
.basic-container {
    display: flex;
}





/*
.first-column {
    width: 150px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    float: left;
    margin-top: 40px;
    align-items: center
}

.second-column {
    width: 650px;
    display: flex;
    
    flex-wrap: wrap;
    float: right;
    margin-top: 40px;
}

