@import url('https://fonts.googleapis.com/css?family=Montserrat:400,600');

body {
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    color: #fff;
}

.main-container {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    align-content: center; 
    justify-content: center; 
   
}

.parent-table {
    
    border: 2px solid white;
    border-spacing: 0;
    background: #1C384C;
}

.parent-table {
    width: 800px;
    height: 600px;
    overflow-y: auto;
    overflow-x: hidden;
}


.exit {
    margin-top: -1.3em;
    margin-bottom: 1em;
    text-align: right;
    padding: 0 1.4em;
}

.exit img {
    margin-top: -1.3em;
    margin-bottom: 1em;
    text-align: right;
    padding: 0 1.4em;
    width: 15px;
    cursor: pointer;
}


.circle
{
    width:70px;
    height:70px;
    border-radius:35px;
    font-size:14px;
    color:#000;
    line-height: 25px;
    text-align:center;
    background:#6A8FA9
}

.header {
    height: 70px;
    padding: 10px;
    
}

.scroll-tbody {
    display: flex;
}

.first-column {
    width: 150px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    float: left;
    margin-top: 40px;
    align-items: center
}

.second-column {
    width: 650px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    float: right;
    margin-top: 40px;
    

}

