@import url('https://fonts.googleapis.com/css?family=Montserrat:400,600');

body {
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    color: rgb(245, 6, 6);
}



.center-the-table {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    align-content: center; 
    justify-content: center;  
    overflow-y: auto;
    overflow-x: hidden;
}



.exit {
    margin-top: -1.3em;
    margin-bottom: 1em;
    text-align: right;
    padding: 0 1.4em;
}

.exit img {
    margin-top: -1.3em;
    margin-bottom: 1em;
    text-align: right;
    padding: 0 1.4em;
    width: 15px;
    cursor: pointer;
}



    


.parent-table {
    background: #1C384C;
    border: 2px solid white;
    border-spacing: 0;
    width: 800px;
    height: 600px;
}

.circle
{
    width:70px;
    height:70px;
    border-radius:35px;
    font-size:14px;
    color:#000;
    line-height: 25px;
    text-align:center;
    background:#6A8FA9
}

.header {
    height: 70px;
    padding: 10px
}

.first-column {
    width: 150px;
    display: flex;
    flex-flow: column wrap;
    float: left;
    margin-top: 40px;
    align-items: center
}

.second-column {
    width: 650px;
    display: flex;
    flex-flow: column wrap;
    float: right;
    margin-top: 40px;

}

.scroll tbody {
    overflow-y: auto;
    overflow-x: hidden;
}